//other colors:
$orange:#eb4316;
$dark-orange: #972a0c;
$light-orange: #f5a18b;

$body-bg: white;
$noise-bg: image-url('noise.png') top left !default;

// Main Link Colors
$link-color: lighten(black, 3) !default;

// Main Section Colors
$text-color: #222 !default;
$text-color-light: #aaa !default;
$type-border: #ddd !default;

/* General rules */
body {
  background-color: $body-bg;
}

a, a:visited {
  color: $link-color;
  text-decoration: none;
  outline: 0;
}

li {
  line-height: 18px;
  margin-bottom: 12px;
}

ul {
  display: block;
  list-style-type: none;
}

// Logo
aside#logo {
  background-color: red;
}

aside#logo div {
  background-color: white;
}

aside#logo div a {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-size: 100% 100%;
}

/* Menu */
ul#menu a {
  color: $dark-orange;
  text-shadow: 0px 1px 0px $light-orange;
  font-family: $heading-font-family;
  text-transform: uppercase;

  &:hover {
    color: #fff;
    text-shadow: 0px 1px 0px $dark-orange;
  }
}

#octopress_linkback {
  background-color: rgba(255, 255, 255, 0.7);
}
/* Article rules */
article a:link, article a:visited, article a:hover, article a:active {
  text-decoration: none;
  border-bottom: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  color: #002e03;
}

h2.entry-title {
  color: $orange;
  font-family: $heading-font-family;
  text-transform: uppercase;
  font-size: 1.9em;
  -webkit-font-smoothing: antialiased;


  a:link, a:hover, a:visited, a:active {
    color: $orange;
    border-bottom: 1px solid $orange;
  }
}
