.sharing-box {
  p.meta + & {
    padding: { top: 1em; left: 0; }
  }
}

/* Sharing box rules */
div.sharing-box {
  width: 110px;
  position: absolute;
  left: 100%;
  top: 50px;
}

#fb-root { display: none; }
